* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.allFooter {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    /* border-bottom: 1px solid gray; */
    background-color: #141414;
    gap: 15px;
}

.footerEmailPart {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    padding: 25px;
    justify-content: space-around;
    gap: 25px;
}

.emailText {
    width: auto;
    height: 100%;
    color: aliceblue;
    font-weight: lighter;
    font-size: 45px;
}

.emailInputPart {
    width: 900px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: row;
    padding: 25px;
    border: none;
    color: aliceblue;
}

.emailInput {
    width: 100%;
    background-color: #141414;
    border-radius: 32px;
    padding: 15px 20px;
    transition: 0.3s;
    outline: none;
    border: 2px solid rgb(88, 86, 86);
    color: #a19f9f;
    &:focus{
        box-shadow: 0 0 45px rgba(128, 128, 128, 0.575), 0 0 80px rgba(128, 128, 128, 0.26);
        border-color: rgb(255, 253, 253);

    }
}

.followPart {
    width: 100px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: whitesmoke;
}

.followIcns {
    width: 100%;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.messyFooterPart {
    width: 100%;
    height: auto;
    background-color: #141414;
    display: flex;
    gap: 100px;
    padding: 50px;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.privacy,
.quikLinks,
.involved,
.costumerCare {
    width: 150px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: lighter;
    color: azure;
    font-size: 22px;
    gap: 10px;
    background-color: #141414;
}

.footerPhonePart {
    width: auto;
    height: auto;
    background-color: #141414;
    display: flex;
    font-weight: lighter;
    align-items: center;
    justify-content: center;
    color: aliceblue;
    gap: 35px;
}

.log {
    width: 100px;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.phoneNUmber {
    width: auto;
    height: 100%;
    font-weight: lighter;
    font-size: 35px;
}

.sendEmailBtn {
    width: 50px;
    aspect-ratio: 1;
    background-color: #141414;
    border: none;
    font-size: 25px;
    font-weight: lighter;
    color: aliceblue;
    transition: 0.5s;
    border-radius: 24px;
    &:hover{
        background-color: #ece5e5;
        color: #181717;
        border: 1px solid wheat;
    }
}
@media (min-width: 1024px) and (max-width: 1200px){
    .allFooter{
        height: 550px;
        margin-top: 100px;
    }
    .emailText{
        padding: 15px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 33px;
    }
    .footerEmailPart{
        gap: 18px;
        padding: 25px;
    }
    .followPart{
        width: auto;
    }
    .privacy,
    .quikLinks,
    .involved,
    .costumerCare {
        font-size: 18px;
    }
    .phoneNUmber{
        font-size: 25px;
    }
}
@media (min-width: 768px) and (max-width: 1024px){
    .allFooter{
        height: auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .emailText{
        padding: 15px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 31px;
    }
    .footerEmailPart{
        gap: 18px;
        padding: 25px;
    }
    .followPart{
        width: auto;
    }
    .privacy,
    .quikLinks,
    .involved,
    .costumerCare {
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .phoneNUmber{
        font-size: 25px;
    }
    .messyFooterPart{
        padding: 35px;
    }
}
@media (min-width: 552px) and (max-width: 768px){
    .allFooter{
        height: auto;
        margin-top: 50px;
        margin-bottom: 20px;
    }
    .emailText{
        padding: 15px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 23px;
    }
    .footerEmailPart{
        gap: 18px;
        width: 100%;
        padding: 5px;
    }
    .followPart{
        width: auto;
        padding: 5px;
    }
    .privacy,
    .quikLinks,
    .involved,
    .costumerCare {
        font-size: 15px;
        gap: 20px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: row; */
    }
    .phoneNUmber{
        font-size: 22px;
    }
    .messyFooterPart{
        padding: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        /* flex-wrap: wrap; */
    }
    .nameBox{
        display: flex;
        align-items: center;
        justify-content: start;
        h3{
            text-align: start;
        }
    }
    .elseBox{
        width: auto;
        height: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
@media (min-width: 332px) and (max-width: 552px){
    .allFooter{
        height: auto;
        margin-top: 50px;
        margin-bottom: 15px;
    }
    .emailText{
        padding: 15px 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 20px;
    }
    .footerEmailPart{
        gap: 1px;
        width: 100%;
        flex-wrap: wrap;
        padding: 5px;
    }
    .followPart{
        width: auto;
        padding: 5px;
    }
    .privacy,
    .quikLinks,
    .involved,
    .costumerCare {
        font-size: 15px;
        gap: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        /* flex-direction: row; */
    }
    .phoneNUmber{
        font-size: 22px;
    }
    .messyFooterPart{
        padding: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
    }
    .nameBox{
        display: flex;
        align-items: center;
        justify-content: start;
        h3{
            text-align: start;
        }
    }
    .elseBox{
        width: auto;
        height: 100%;
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}